.typewrite {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
  display: inline-block;
}

.typewrite > .wrap {
  border-right: 0.08em solid white;
  animation: blink-caret 0.75s step-end infinite;
  padding-right: 2px;
  display: inline-block;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
} 